<div class="header">
  <span class="header-title header-color">TinyApp</span>
  <span class="header-subtext header-color">a simple url shortener</span>
  <div class="nav-bar header-color">
    <a class="header" href="/urls/new" >New Link</a> | <a class="header" href="/urls" >My Links</a> | Login
  </div>
</div>
