<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include partials/_style %>
</head>
<body>
    <% include partials/_header %>
    <div class="main">
      <% if(user){ %>
        <p><%= message %></p>
        <p><a href="/urls">View your URLs</a></p>
        <p><a href="/urls/new">Add URL</a></p>
      <% } else { %>
        <p><%= message %></p>
        <p>Please <a href="/login">Login</a> to edit URLs</p>
      <% } %>
    </div>
</body>
</html>
