<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <% include partials/_style %>
</head>
<body>
  <% include partials/_header %>
  <p><%= shortURL %> redirects to <a href="<%= longURL %>"><%= longURL %></a>
</body>
</html>
