<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <%- include('partials/_header') %>
    <h2>Urls!</h2>
    <ul>
      <% for(url in urls){ %>
        <li><%= url %> - <%= urls[url] %></li>
      <% } %>
    </ul>
    <a href="/newlink" >Add new Link</a>
</body>
</html>
